.Header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    background-color: var(--darkMode);

}

.Header_left {
    width: 45%;
    height: 100%;
    display: flex;
    align-items: center;
    padding-left: 20px;

}

.logo {
    width: 130px;
}

.Header_left_list {
    width: 100%;
    display: flex;
    justify-content: space-between;

}

.Header_left_list li {
    list-style: none;
}

.Header_left_list li:hover {
    color: var(--hoverColor);
    cursor: pointer;

}

.Header_right {
    display: flex;
    align-items: center;
    padding-right: 20px;

}

.button {
    border-radius: 5px;
    border: none;
    outline: none;
    height: 35px;
    padding: 0 5px;
    font-size: 14px;
}

.login {
    color: var(--lightColor);
    background-color: rgba(255, 255, 255, 0.2);
    margin-right: 10px;
    width: 60px;

}

.loginlight {
    color: var(--darkMode);
    background-color: rgba(0, 0, 0, 0.2);
}


.signup {
    width: 70px;
    background-color: var(--hoverColor);
    margin-right: 10px;
}